.DS_Store
target/
sql-files/
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/trade-files/
pipeline-multithreaded-trade-processing/trade-processor-app/src/main/resources/trade-files/
pipeline-multithreaded-trade-processing/trade-processor-app/src/main/resources/data/
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/data/
pipeline-multithreaded-trade-processing/trade-processor-app/src/main/resources/arch/
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/arch/
.idea/
school-cli/.idea/
pipeline-multithreaded-trade-processing/trade-processor-app/.idea
pipeline-multithreaded-trade-processing/trade-producer-app/.idea/
pipeline-multithreaded-trade-processing/trade-producer-app/target/
pipeline-multithreaded-trade-processing/trade-producer-app/src/test/resources/10000trades.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/test/resources/0trades.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/test/resources/800trades.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/test/resources/1111trades.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/test/resources/999trades.csv