.DS_Store
target/
sql-files/
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/trade-files/
pipeline-multithreaded-trade-processing/trade-processor-app/src/main/resources/trade-files/
pipeline-multithreaded-trade-processing/trade-processor-app/src/main/resources/data/
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/data/
pipeline-multithreaded-trade-processing/trade-processor-app/src/main/resources/arch/
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/arch/
.idea/
school-cli/.idea/
pipeline-multithreaded-trade-processing/trade-processor-app/.idea
pipeline-multithreaded-trade-processing/trade-producer-app/.idea/
pipeline-multithreaded-trade-processing/trade-producer-app/target/
pipeline-multithreaded-trade-processing/trade-producer-app/src/test/resources/*.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/trade-files/securities_custom_reference.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/trade-files/trade_records.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/trade-files/trades.csv
pipeline-multithreaded-trade-processing/trade-producer-app/src/main/resources/trade-files/trades_all_duplicates.csv